<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="My Scoreboard" />
    <meta name="author" content="Pakham" />

    <title>My Scoreboard - {% block title %}{% endblock %}</title>

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{{ asset('css/style.css') }}" />

    {% block stylesheets %}{% endblock %}
  </head>
  <body>
    <header>
      <nav>
        <ul class="nav-header">
          <li><a href="{{ path('home') }}">Home</a></li>
          <li><a href="{{ path('game_create') }}">Add Game</a></li>
          <li><a href="{{ path('player_create') }}">Add player</a></li>
          <li><a href="{{ path('contest_create') }}">Add contest</a></li>
        </ul>
      </nav>
    </header>
    {% block body %}{% endblock %} {% block javascripts %} {#{{
      encore_entry_script_tags("app")
    }}#} {% endblock %}
  </body>
</html>
